.card {
    margin-bottom: 40px;
    border: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 7px !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(126,55,216,0.05);
    box-shadow: 0px 0px 25px 0px rgba(126,55,216,0.05);
}

.sidebar span {
	font-size: 11px;
}

.display-flex {
  display: grid;
  flex-wrap: wrap;
}

body.modal-open .datepicker {
    z-index: 1200 !important;
}

.iconsidebar-menu.scrolled {
    top: 0px !important;
}

.iconMenu-bar.scrolled {
    height: 100vh !important;
}

.glow-shadow {
    -webkit-filter: drop-shadow(5px 5px 15px rgba(165, 46, 244, 1));
    filter: drop-shadow(5px 5px 15px rgba(165, 46, 244, 1));
    transition: all 0.5s ease-in-out;
}

.introjs-aksibutton {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 5px;
    color: #009b4a;
}

body[style]{
  padding-right: 0px !important;
}