.card {
    margin-bottom: 40px;
    border: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 7px !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(126,55,216,0.05);
    box-shadow: 0px 0px 25px 0px rgba(126,55,216,0.05);
}

.sidebar span {
	font-size: 11px;
}